body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.tabs__label {
  padding: 5px 8px;
  cursor: pointer;
  border: solid #009578;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  color: #666;
  height: 18px;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  padding-top: 5px;
  order: 1;
  width: 100%;
  height: 100%;
  border-top: 1px solid #009578;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  background-color: #009578;
  color: #fff;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}
