body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabs__label > .MathJax_SVG, .MathJax_CHTML {
  font-size: .9em !important;
}

.tabs__label {
  padding: 3px 5px;
  cursor: pointer;
  border: solid #11a579;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  color: #666;
  height: 24px;
  min-width: 50px;
  text-align: center;
  align-content: end;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  padding-top: 5px;
  order: 1;
  width: 100%;
  height: calc(100% - 45px);
  border-top: 1px solid #11a579;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  background-color: #11a579;
  color: #fff;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}
